<div class="p-4">
		<div class="row">
				
			<div class="col-10 col-lg-8 mb-3 mx-auto">
				<h2><small>
			“You work hard to plan your events, activities or meetings; let your calendar do its part too!”
			</small></h2>
			</div>
			
		</div>
  		<div class="row justify-content-md-cente">
  			<h5> <small>
			<div class="col-10 col-lg-5 text-muted mx-auto landing-page-title" style="text-align: justify;">
				By simplifying the process of scheduling meetings, we want to help you genuinely connect with your friends, family and co-workers. We believe in the value of face-to-face human connection, and we see it as a greater alternative to the shallow and transitory relationships on social media.
			</div>
			</small></h5>
		</div>
		<div class="row">
			<a class="mx-auto mt-3" href={{sign_in_url}}>
			<img src="assets/img/btn_google_signin_dark_normal_web@2x.png" style="max-height: 46px; max-width: 191px;">
			</a>
			
		</div>
</div>