<div class="font-weight-normal p-2">Select an activity:</div>
<div class="row cat-item" *ngFor="let act of activities">
	<a class="d-inline p-2 text-primary  border-bottom" routerLink="/category/1/activity/{{act.id}}"> {{act.dname}}</a>
</div>
<div *ngIf="newactflag;" class="row cat-item">
	<input class="mx-auto col-10 col-lg-5 p-3 border border-primary" placeholder="Add an activity" style="text-align: center" [(ngModel)]="newactivity" #actinput>
	<button class="btn btn-primary mx-auto my-3 col-2 col-lg-1" (click)="onSave()">Save</button>
</div>
<div class="btn btn-primary mx-auto my-2" (click)="onAddNew()"> 
	Add new
</div>
<!-- </div> -->
<div class="my-3 font-weight-light suggestions">or</div>
<div class="font-weight-light pb-2 suggestions">Choose from suggestions:</div>
<div *ngIf="act_suggestions" class="">
	<span *ngFor="let item of act_suggestions">
		<span class="badge badge-pill badge-light border mx-1 my-1 p-2" style="font-size: 85% !important; font-weight: 100 !important">{{item.dname}}</span>
	</span>
</div>
<!-- <div class="row cat-item"> -->


