.cat-item{
	margin: 5px;
	text-align: center;
	display: grid;
}

.suggestions{
	font-size: .9rem;

}

.activity-pill{
	font-size: 85% !important; 
	font-weight: 100 !important;
	cursor: pointer;
}

.own-activity-pill{
	background-color: #f0f8ff;
}