<section class="mt-5 border-bottom mx-auto">
	<h4>Contact form</h4>
</section>
<section>
	<!-- <div class="text-primary page_title mt-3">{{page_title}}</div> -->
 	<div class="font-weight-normal mx-auto mt-3" style="max-width: 500px;">
 		We would love to hear from you! Please tell us what you think. You may also leave your contact details if you want us to get back to you. Thanks for reaching out!
 	</div>
	<div class="row mt-3">
		<textarea class="mx-auto col-10 col-lg-5 p-3 border" style="height: 10rem;" placeholder="Thoughts?" [(ngModel)]="feedback" #descinput></textarea>
	</div>
	<hr>
	<button class="btn btn-primary mx-3 col-4 col-lg-2" (click)="onSubmit()">Send</button>
<!--<button class="btn btn-dark mx-3 col-4 col-lg-2" (click)="onSkip()">Skip</button>-->
</section>
