.title {
	float: left;
	font-size: x-large; 
	text-align: left;
}

.welcome-msg{
	flex: auto;
	float: right;
	text-align: end;
  margin-right: 0px;
}

.dropdown {
  float: right;
  /*overflow: hidden;*/
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  cursor: pointer;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}


.dropdown-content a:hover {
  background-color: #ddd;
}

/*.dropdown:hover .dropdown-content {*/
/*.dropdown-content {*/
  /*display: block;*/
/*}*/

.dropdown a:hover {background-color: #ddd;}


.show {display: block;}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.custom-font{
	font-size: 1.1rem !important;
}
