<!--The content below is only a placeholder and can be replaced.-->
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<META HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<nav class="navbar navbar-expand navbar-dark bg-primary">
  <a class="navbar-brand" href="/eventlist">{{ title }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
   <span *ngIf="user" class="navbar-brand font-weight-normal welcome-msg mx-auto">Welcome, {{user.given_name}}
   </span>
   <div>
   	<img *ngIf="user" src="{{user.picture}}" class="img-fluid img-thumbnail" style="max-width: 40px; padding: 0" />
   </div>
   <div *ngIf="user" class="dropdown">
      <button class="dropbtn" (click)="dropdownClick()">
        <!--<i class="fa fa-caret-down"></i>-->
      </button>
      <div id="logout" class="dropdown-content">
       <a href="{{sign_out_url}}">Logout</a>
        <a href="#">Contact-us</a>
      </div>
   </div>
</nav>
<!-- <div class="vertical-center"> -->
<div class="container font-weight-normal my-3 custom-font" style="text-align: center;">
		<router-outlet></router-outlet>
</div>
<!-- </div> -->
<ng-template #loading><div style="text-align: center; margin-top: 100px; padding: 10px;" class="container">Loading Data...</div></ng-template>

<nav class="navbar navbar-expand fixed-bottom navbar-dark bg-dark">
	<div class="mx-auto">
		     <app-login></app-login>
	</div>
</nav>

