<!--  <div *ngIf="signin">
 --> <div *ngIf="upcoming_events; else loading">
 <div class="row justify-content-md-center mx-auto">
		<div class="my-3 item">
		  	<ul class="nav nav-tabs">
			  <li class="nav-item">
			    <a class="nav-link" [className]="upcoming? 'nav-link active' : 'nav-link'" (click)="showUpcoming()" #upcoming_tab>
			    	<span class="font-weight-light item">Upcoming
			    		<div class="badge badge-pill badge-danger mx-1">{{upcoming_events.length}}</div>:
			    	</span>
			    </a>
			  </li>
			  <li class="nav-item ">
			    <a class="nav-link" [className]="!upcoming? 'nav-link active' : 'nav-link'" (click)="showPast()" #past_tab>
			    	<span class="font-weight-light mt-2 my-3 item">Past 
			    		<div class="badge badge-pill badge-danger mx-1">{{past_events.length}}</div>:
			    	</span>
			    </a>
			  </li>
			</ul>
		</div>
	</div>
 <div *ngIf="upcoming; else past">
  <div class="cat-item" *ngFor="let event of upcoming_events">
  	<div class="row justify-content-md-center border-bottom p-2 py-3" routerLink="/event/{{event.id}}">
		<div class="col-sm-2 col-5 mx-2 font-weight-light">
			<div class="scheduler-date border p-2" [ngClass]="{'alerting' : event.alert == 'alerting', 'alerting-soon': event.alert == 'alerting-soon', 'not-alerting': event.alert == 'not-alerting', 'alerting-done' : event.alert == 'done'}">
				<div class="p1-info"> {{event.date}} </div>
				<div class="p2-info"> {{event.day}} </div>
				<div class="p2-info"> <span class="border-top px-2 py-1">{{event.start_time}}</span></div>
			</div>
		</div>
		<div class="col-sm-6 col-6 my-auto">
  			<div class="row" style="display: block; !important">
			  <span class="border-bottom">{{event.activity}}</span>
			  </div>
			 <div class="secondary-info"><i>By:</i> {{event.organizer_name}}</div>
		    <div class="badge badge-pill font-weight-light border" [ngClass]="{'badge-success': event.status == 'Active', 'badge-light': event.status == 'Canceled', 'badge-primary': event.status == 'New'}">{{event.status}}</div>
		</div>
	</div>
  </div>
   <div class="p-4 text-danger border-top border-bottom" *ngIf="no_planned_events">
  		<div class="row">
			<div class="col-sm">No events planned.</div>
		</div>
		<div class="row">
			<div class="col-4 col-lg-2 btn btn-primary mx-auto mt-3" [routerLink]="['/acts']">
				Start here...
			</div>
		</div>
	</div>
 </div>
 
 </div>
<ng-template #loading>
	<div style="text-align: center; margin-top: 100px; padding: 10px;" class="container item font-weight-normal">
		loading...
	</div>
</ng-template>

<ng-template #past>
<div class="cat-item" *ngFor="let event of past_events">
  	<div class="row justify-content-md-center border-bottom p-2 py-3" routerLink="/event/{{event.id}}">
  		<div class="col-sm-2 col-5 mx-2 font-weight-light">
			<div class="scheduler-date border p-2" [ngClass]="{'alerting' : event.alert == 'alerting', 'alerting-soon': event.alert == 'alerting-soon', 'not-alerting': event.alert == 'not-alerting', 'alerting-done' : event.alert == 'done'}">
				<div class="p1-info font-weight-light"> {{event.date}} </div>
				<div class="p2-info"> {{event.day}} </div>
				<div class="p2-info"> <span class="border-top px-2 py-1">{{event.start_time}}</span></div>
			</div>
		</div>
		<div class="col-sm-6 col-6 my-auto">
  			<div class="row" style="display: block; !important">
			  <span class="border-bottom">{{event.activity}}</span>
			  </div>
			 <div class="secondary-info"><i>By:</i> {{event.organizer_name}}</div>
		    <div class="badge badge-pill font-weight-light border" [ngClass]="{'badge-success': event.status == 'ACTIVE', 'badge-light': event.status == 'CANCELED', 'badge-primary': event.status == 'NEW'}">{{event.status}}</div>
		</div>
	</div>
  </div></ng-template>

