<!--  <div *ngIf="signin">
 --> <div *ngIf="event_list; else loading">
 	<div class="font-weight-bold p-2 py-3 border-bottom">
 		Your Upcoming Events:
 	</div> 
  <div class="cat-item" *ngFor="let event of event_list">
  	<div class="row border-bottom p-2 py-3" routerLink="/event/{{event.id}}">
  		<div class="col-sm text-primary">
  			<div class="row" style="display: block; !important">
			  {{event.title}}
			  <!-- <span *ngFor="let rsvp of event.rsvp_yes; let i=index">
			  	<img *ngIf="i<10" src="{{rsvp.picture}}" class="img-fluid img-thumbnail" style="max-width: 30px; padding: 0" />
			  </span> -->
			  </div>
		  <div class="row badge badge-pill badge-danger">{{event.status}}</div>
		</div>
		<div class="col-sm text-secondary">
		  {{event.start_date}}
		</div>
		<div class="col-sm text-secondary">
		  {{event.start_time}}
		</div>
	</div>
  </div>
  <div class="p-4 text-danger border-top border-bottom" *ngIf="no_planned_events">
  		<div class="row">
			<div class="col-sm">No events planned.</div>
		</div>
		<div class="row">
			<div class="col-4 col-lg-2 btn btn-primary mx-auto mt-3" [routerLink]="['/cats']">
				Start here...
			</div>
		</div>
	</div>
 </div>
<ng-template #loading>
	<div style="text-align: center; margin-top: 100px; padding: 10px;" class="container item font-weight-normal">
		loading...
	</div>
</ng-template>

