
<div *ngIf="!error; else invalid">
<div *ngIf="ename; let ename; else loading">
	<div *ngIf="isCanceled;" class="row justify-content-md-center">
		<div class="alert alert-danger" role="alert">
 			 This event is canceled!
		</div>
	</div>
	<div class="row justify-content-md-center">
		<div class= "col-md-3 col-sm-5 mx-5">
		  <p class="font-weight-bold mt-3 item"> Event:</p> {{ename}}
		  <p *ngIf="edesc" class="font-weight-bold mt-3 item"> Desctiption/Title: </p> {{edesc}}
		  <p *ngIf="timezone" class="font-weight-bold mt-3 item"> Timezone: </p> {{timezone}}
		  <p class="font-weight-bold mt-3 item"> Date & Time: </p> {{edate}} at {{etime}}
		  <!-- <p class="font-weight-bold mt-3 item"> Time: </p> {{etime}} -->
		  
		  	<!-- <span class="font-weight-bold item">Accepted by <div class="badge badge-pill badge-danger">{{rsvp_yes.length}}</div>:</span>

		  	<div *ngFor="let item of rsvp_yes; let i=index">
		  		
			  	 <div *ngIf="i < 10" class="p-2 text-primary border-top">
					<span>
				   		<img src="{{item.picture}}" class="img-fluid img-thumbnail ml-2" style="max-width: 35px; padding: 0" />
				    </span>
			   		{{item.fullname}}
			  	 </div> 
			  </div>
			  <div *ngIf="rsvp_yes.length > 10">
			  	 	<button class="bt btn-outline-primary"> Load more </button>
			  	 </div> -->
		  	<!-- <div *ngIf="rsvp_no" class="font-weight-bold mt-2 my-3 item">Declined by <div class="badge badge-pill badge-danger">{{rsvp_no.length}}</div>:</div>
		  	<div *ngFor="let item of rsvp_no">	
		  	 <div class="p-2 text-secondary border-top">{{item.fullname}}</div> 
		  	</div> -->
		</div>
		

	</div>
	<div class="row justify-content-md-center mx-auto">
		<div *ngIf="user_logged_in" class="my-3 item">
		  	<ul class="nav nav-tabs">
			  <li class="nav-item">
			    <a class="nav-link" [className]="show_accepted? 'nav-link active' : 'nav-link'" (click)="showAcceptedBy()" #acceptedby><span class="font-weight-bold item">Accepted by <div class="badge badge-pill badge-danger">{{rsvp_yes.length}}</div>:</span></a>
			  </li>
			  <li class="nav-item ">
			    <a class="nav-link" [className]="show_declined? 'nav-link active' : 'nav-link'" (click)="showDeclinedBy()" #declinedby>
			    	<span *ngIf="rsvp_no" class="font-weight-bold mt-2 my-3 item">Declined by <div class="badge badge-pill badge-danger">{{rsvp_no.length}}</div>:</span>
			    </a>
			  </li>
			</ul>
		</div>
	</div>
	<div *ngIf="show_accepted; else declinedlist" class="row justify-content-md-center">
		<div class="col-md-4 col-sm-5 mx-auto">
			<div *ngFor="let item of rsvp_yes; let i=index">
			  		
				  	 <div *ngIf="i < page_limit" class="p-2 text-primary border-bottom item">
						<span>
					   		<img src="{{item.picture}}" class="img-fluid img-thumbnail ml-2" style="max-width: 35px; padding: 0" />
					    </span>
				   		{{item.fullname}}
				  	 </div> 
		  	</div>
			<div *ngIf="rsvp_yes.length > page_limit">
			 	<a class="badge badge-primary" style="color: #fff" (click)="showMore()" >Show more</a>

			</div>
		</div>
	</div>
	<div class="row justify-content-md-center">
		<div class="col-md-4 col-sm-5 mx-auto">
			<div *ngIf="user_logged_in && user_not_participant  && !isCanceled" class="mt-3 item" style="text-align: center;">
		  	<button class="btn btn-primary col-4 col-lg-4 m-2" (click)="joinEvent()">Accept</button>
		  	<button class="btn btn-secondary col-5 col-lg-5 m-2" (click)="notJoinEvent()">Decline</button>
		  </div>
		  <div *ngIf="!user_logged_in && sign_in_url" class="mt-5 m-2 item">
		  	<a class="btn btn-primary" href="{{sign_in_url}}">Sign in with Google to respond</a>
		  </div>
		</div>
	</div>
	<div class="border-bottom p-2"></div>
	<div *ngIf="url_copied;">
	  	<p>The event link has copied! <br> Paste it on WhatsApp groups/Email to invite your friends, relatives or people you care. </p>
	 </div>
	<div *ngIf="user_logged_in && !user_not_participant" class="row justify-content-md-center">
		<div class= "col-md-5 col-sm-5 mx-2">

		  	<button class="btn btn-outline-primary my-3 mr-1" type="button" ngxClipboard (click)="copy()">Copy link</button>
		  	<button *ngIf="user_is_organizer" class="btn btn-outline-primary my-3 mr-1" type="button" (click)="reschedule()">Reschedule</button>
		  	<button class="btn btn-outline-primary my-3 mr-1" type="button" (click)="go_to_group()">Create group</button>
		</div>	  	
  	</div>
  	<div *ngIf="user_logged_in && !user_not_participant && !isCanceled && user_is_organizer" class="row justify-content-md-center">
		<div class= "col-md-3 col-sm-5 mx-2">
  			<button class="btn btn-danger my-1" type="button" (click)="cancel()">Cancel</button>
  		</div>
  	</div>
	
</div>
</div>
<ng-template #loading>
	<div style="text-align: center; margin-top: 100px; padding: 10px;" class="container item font-weight-normal">
		loading...
	</div>
</ng-template>

<ng-template #invalid>
	<div style="text-align: center; margin-top: 100px; padding: 10px;" class="container item font-weight-normal">
		Oops! An error has occured. Please try again.
		You may also logout and login again.
	</div>
</ng-template>

<ng-template #declinedlist>
	<div class="col-md-4 col-sm-5 mx-auto">
		<div *ngFor="let item of rsvp_yes; let i=index">
		  		
			  	 <div *ngIf="i < page_limit" class="p-2 text-secondary border-bottom item">
					<span>
				   		<img src="{{item.picture}}" class="img-fluid img-thumbnail ml-2" style="max-width: 35px; padding: 0" />
				    </span>
			   		{{item.fullname}}
			  	 </div> 
	  	</div>
		<div *ngIf="rsvp_no.length > page_limit">
			 	<a class="badge badge-primary" style="color: #fff" (click)="showMore()" >Show more</a>

		</div>
	</div>
</ng-template>