
<div *ngIf="!error; else invalid">
<div *ngIf="ename; let ename; else loading">
	<div class="row justify-content-md-center">
		<div class= "col-md-3 col-sm-5 mx-5">
		  <p class="font-weight-bold mt-3 item"> Event:</p> {{ename}}
		  <p *ngIf="edesc" class="font-weight-bold mt-3 item"> Desctiption/Title: </p> {{edesc}} 
		  <p class="font-weight-bold mt-3 item"> Date: </p> {{edate.toDateString()}}
		  <p class="font-weight-bold mt-3 item"> Time: </p> {{etime}}
		  <div *ngIf="user_logged_in" class="mt-3 item">
		  	<p class="font-weight-bold item">RSVP:</p>
		  	<div>
		  	 Yes: {{rsvp_yes}} 
		  	</div>
		  	<div>
		  	 No: {{rsvp_no}}
		  	 </div>
		  </div>
		  <div *ngIf="user_logged_in && user_not_participant" class="mt-5 item" style="text-align: center;">
		  	<button class="btn btn-primary col-4 col-lg-4 m-2" (click)="joinEvent()">Joining</button>
		  	<button class="btn btn-primary col-5 col-lg-5 m-2" (click)="notJoinEvent()">Not joining</button>
		  </div>
		  <div *ngIf="!user_logged_in && sign_in_url" class="mt-5 item">
		  	<a class="btn btn-primary" href="{{sign_in_url}}">Sign-in to respond</a>
		  </div>
		 
		</div>
	</div>
	
</div>
</div>
<ng-template #loading>
	<div style="text-align: center; margin-top: 100px; padding: 10px;" class="container item font-weight-normal">
		loading...
	</div>
</ng-template>

<ng-template #invalid>
	<div style="text-align: center; margin-top: 100px; padding: 10px;" class="container item font-weight-normal">
		Oops! An error has occured. Please try again.
		You may also logout and login again.
	</div>
</ng-template>
